@import 'base_common.scss';
/* 首页 */
.app-index{
  overflow: hidden;
  background: #F6F6F6;
  padding-bottom: 1.34rem;
}
.app-banner{
  width: 100%;
  height: 3.5rem;
}
    .banner{
      background-repeat:no-repeat;
      background-size: 100% 100%;
      width: 100%;
      min-height: 100%;
    }
    .swipe-indicator{
        opacity: 0.8;
        background: #F0F0F0;
    }
    .swipe-indicator.active{
        background: #FF7100;
    }
.mint-tabbar{
  height: 1.33rem;
}
.mint-tabbar .mint-tab-item{
  padding: 0 0;
  position: relative;
}
.mint-tab-item .mint-tab-item-icon{
  width: 0.61rem;
  height: 0.61rem;
  position: absolute;
  top:size(6);
  left:size(51);
}
.mint-tab-item .mint-tab-item-label{
  margin-top: 0.14rem;
  font-size: 20px;
  position: absolute;
  bottom:size(6);
  width: 100%;
}
.mint-tab-item .mint-tab-item-label {
  @include font-dpr(12px);
}
.mint-tab-item span{
  background-size: 100% 100%;
  border: 0px;
}
.mint-tab-item:nth-child(1) span{
  background-image: url("../images/Home-3@2x.png");
}
.mint-tab-item:nth-child(1).is-selected span{
  background-image: url("../images/Home_pressed@2x.png");
}
.mint-tab-item:nth-child(2) span{
  background-image: url("../images/news@2x.png");
}
.mint-tab-item:nth-child(2).is-selected span{
  background-image: url("../images/news_pressed@2x.png");
}
.mint-tab-item:nth-child(3) span{
  background-image: url("../images/Personal center-3@2x.png");
}
.mint-tab-item:nth-child(3).is-selected span{
  background-image: url("../images/Personal center_pressed@2x.png");
}
.divFunction{
  width: 100%;
  height: size(120);
}
.index_qy_btn{
    float: left;
    width:49.8%;
    height: size(120);
    background: url("../images/index_sqjy_bg@2x.png") no-repeat;
    background-size:100% 100%;
}
.index_jtgl_btn{
    float: left;
    width:49.8%;
    height: size(120);
    background: url("../images/index_jtgl_bg@2x.png") no-repeat;
    background-size:100% 100%;
    border-left:1px solid #e5e5e5;
}
.Function_Box{
    width:100%;
    background: #fff;
}
.FunctionBtn{
    background: #fff;
    width:size(375);
    margin:0 auto;
    li{
        float: left;
        width:size(125);
        height: size(100);
        padding-top: size(20);
        box-sizing: border-box;
        img{
            display: block;
            width:size(30);
            height: size(30);
           margin:0 auto;
        }
        span{
            display: block;
            @include font-dpr(15px);
            color: #333;
            margin-top:size(15);
        }
    }
}


/* .divFunctionQY span{
  display: block;
  margin-top: 0.21rem;
} */

/* .divFunctionJT span{
  display: block;
  margin-top: 0.21rem;
} */
.divMyJiaTing{
  width: 100%;
  background: #fff;
  padding-bottom: size(20);
}
.divMyJiaTingHeader{
  margin-top: 0.24rem;
  width: 100%;
  height: 0.52rem;
  line-height: 0.52rem;
  background:#ffffff;
  padding-top:0.24rem;
  padding-left:0.24rem;
  padding-bottom:0.24rem;
  //text-align: left;
//border-top:1px solid #E5E5E5;
//border-bottom:1px solid #E5E5E5;
  color: #666;
  i{
      display: block;
      width:size(129);
      height:size(14);
      margin:0 auto;
      background: url("../images/index_text_title@3x.png") no-repeat;
      background-size:100% 100%;
      margin-top:size(2);
  }
}
.divMyJiaTingHeader {
  @include font-dpr(14px);
}
.divMyJiaTingGroup{
  background:#FFF;
  width: 100%;
  height: 2.7rem;
  text-align: left;
}
.divMyJiaTingGroup .divMyJiaTingEmptyGroupDetail{
  text-align: center;
  vertical-align: center;
  padding-top: 0.4rem;
  img{
    width:size(60);
    height: size(60);
  }
}
.divMyJiaTingGroup .divMyJiaTingGroupDetail{
  text-align: center;
  display: inline-block;
  width: 100%;
/*   width: 7.6rem;
max-width: 7.6rem; */
  height: 100%;
  overflow-x:auto;overflow-y:hidden;
}
.divMyJiaTingGroup .divMyJiaTingGroupDetail ul{
  list-style:none;
  padding:0;
  margin:0;
  width:100%;
  overflow: hidden;
  height: 100%;
}
.divMyJiaTingGroup .divMyJiaTingGroupDetail li{
  vertical-align: middle;
  float: left;
  height: 100%;
  width: 1.6rem;
}
/* .divMyJiaTingGroup .divMyJiaTingGroupDetail div:nth-child(1){
  margin-left: 0.24rem;
} */
.divMyJiaTingGroup .divMyJiaTingGroupDetail div.active{
  height: 100%;
}
.divMyJiaTingGroupDetail li span {
  @include font-dpr(12px);
}
.divMyJiaTingGroup .divMyJiaTingGroupDetail li img{
  width: 0.99rem;
  height: 0.99rem;
  border-radius: 0.99rem;
  margin-top: 0.43rem;
}
/*
.divMyJiaTingGroup .divMyJiaTingGroupDetail li.active img{
  width: 1.36rem;
  height: 1.36rem;
  border-radius: 1.36rem;
  margin-top: 0.12rem;
}
*/

.divMyJiaTingGroupDetail li.active span {
  //@include font-dpr(16px);
 color: #47A6F8;
}
.divMyJiaTingGroup .divMyJiaTingGroupDetail span{
  display: block;
  margin-top: 0.16rem;
}
.divMyJiaTingGroup .divMyJiaTingGroupDetail li:last-child{
  width: 1.6rem;
  height: 100%;
  padding-right: 0.3rem;
}
.divMyJiaTingGroup .divMyJiaTingGroupDetail li:last-child img{
  width: 1.6rem;
  height: 1.6rem;
}
.divMyJiaTingDoctor{
  position: relative;
  background:url("../images/index_Rectangle22@2x.png");
  padding: 0.32rem 0.24rem 0.32rem 0.24rem;
  text-align: left;
  margin:0 size(10);
  background-size:100% 100% ;
}
.divMyJiaTingDoctor .divMyJiaTingDoctorContent{
  position: relative;
  height: 1.28rem;
  width: 6.82rem;
  display: inline-block;
  vertical-align: top;
  margin-left: 0.24rem;
  text-align: left;
}
.divMyJiaTingDoctorContent p{
  margin-top: 0.16rem;
}
.divMyJiaTingDoctorContent h2 {
    margin-top: 0.1rem;
  @include font-dpr(14px);
  color: #fff;
  opacity: 0.6;
}
.divMyJiaTingDoctorContent i{
  position: absolute;
  right: size(3);
  top:0.43rem;
  font-style: normal;
  color:#fff;
}
.divMyJiaTingDoctorContent span:nth-child(1) {
  @include font-dpr(16px);
  color: #fff;
  // font-weight: bold;
}
.divMyJiaTingDoctorContent span:nth-child(2) {
  @include font-dpr(12px);
}
.divMyJiaTingDoctor .divMyJiaTingDoctorContent span:nth-child(2){
  margin-left: 0.27rem;
  padding: 0.06rem 0.27rem;
  // background:#b0dd78;
  border:size(1) #fff solid;
  border-radius: 0.27rem;
  color: #fff;
}
.divMyJiaTingDoctor img{
  width: 1.36rem;
  height: 1.36rem;
  border-radius: 50%;
  border: size(1) solid #fff;
}
.divNoJiaTingDoctor{
  position: relative;
  background:url("../images/index_Rectangle22@2x.png");
  text-align: left;
  height: size(78);
  background-size: 100% 100%;
  margin: 0 size(10);
  span{
    display: inline-block;
    width: size(88);
    height: size(34);
    position: absolute;
    top:size(22);
    right: size(22);
    color: #47A6F8;
    background:#fff;
    border-radius: size(34);
    line-height: size(34);
    text-align: center;
    @include font-dpr(14px);
  }
  label{
      color: #fff;
      @include font-dpr(16px);
      line-height: size(78);
      margin-left:size(20);
  }
}
.divGongGao{
  width: 100%;
}
.divGongGaoHeader{
  margin-top: 0.24rem;
  width: 100%;
  height: 0.52rem;
  line-height: 0.52rem;
  background:#ffffff;
  padding-top:0.24rem;
  padding-left:0.24rem;
  padding-bottom:0.24rem;
  text-align: left;
  border-top:1px solid #E5E5E5;
  border-bottom:1px solid #E5E5E5;
}
/* [data-dpr="2"] .divGongGaoHeader {
  font-size: 28px;
  @include font-dpr(14);
} */
.divGongGaoHeader {
  @include font-dpr(14px);
}
.divGongGaoBody{
  background:#ffffff;
  width: 100%;
}
.divGongGaoBodyItem{
  text-align: left;
  height: 1.6rem;
  padding: 0.32rem 0.32rem 0.32rem 0.32rem;
  border-bottom:1px solid #E5E5E5;
}
.divGongGaoBodyItem img{
  display: inline-block;
  width: 2.13rem;
  height: 1.6rem;
}
.divGongGaoBodyItem .divGongGaoBodyContent{
  height: 1.6rem;
  width: 6.82rem;
  display: inline-block;
  vertical-align: top;
  margin-left: 0.24rem;
  margin-top: 0.13rem;
}
.divGongGaoBodyContent h2 {
  @include font-dpr(16px);
  white-space:nowrap;
          overflow:hidden;
          text-overflow:ellipsis;
}
.divGongGaoBodyContent span {
  @include font-dpr(12px);
}
.divGongGaoBodyItem .divGongGaoBodyContent p{
  margin-top: 0.26rem;
}
.divGongGaoBodyItem .divGongGaoBodyContent span:nth-child(1){
  display: inline-block;
  border-radius:0.05rem;
  padding: 0.03rem 0.16rem 0.03rem 0.16rem;
  background: #F6F6F6;
}
.divGongGaoBodyItem .divGongGaoBodyContent span:nth-child(2){
  float: right;
}
/* 箭头 */
.right{
  position: relative;
  right: 0.1rem;
  top: 0.5rem;
  float: right;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  height:size(7);
  width: size(7);
  // margin:50px auto 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  /*不加这两个属性三角会比上一个略丑, 大家可以试一下*/
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
// .right-arrow1,.right-arrow2{
//   width: 0;
//   height: 0;
//   display: block;
//   position: absolute;
//   left: 0;
//   top: 0;
//   border-top:size(7) transparent dashed;
//   border-right:size(7) transparent dashed;
//   border-bottom:size(7) transparent dashed;
//   border-left:size(7) white solid;
//   overflow: hidden;
// }
// .right-arrow1{
//   left: 0.05rem;
//   border-left:size(7) #bbbbbb solid;
// }
// .right-arrow2{
//   border-left:size(7) solid white;
// }
.up {
  position: absolute;
  top: -0.20rem;
  left: 0.23rem;
  width:0;
  height:0;
  border-left:0.26rem solid transparent;
  border-right:0.26rem solid transparent;
  border-bottom:0.26rem solid #87B6FD;
}
/* 其他 */
.mint-toast-text{
    @include font-dpr(14px);
}
/*注册页面*/
.register_box{
    width: 100%;
    background: #fff;
    padding-bottom: size(10);
}
.register_log{
    width:size(150);
    margin:size(20) auto;
    img{
        display: block;
        width:size(63);
        height: size(18);
        margin:0 auto size(1);
    }
    span{
        display: block;
        font-family: PingFangSC-Regular;
        font-size: 10px;
        color: #A3B3BC;
        letter-spacing: 0;
        -webkit-transform:scale(0.8);
        -moz-transform:scale(0.8);
        -o-transform:scale(0.8);
        -ms-transform:scale(0.8);
        transform:scale(0.8);
    }      
}
