#playok{font-family: 'PingFangSC-Regular';}
.listbox{display: block;}
.playok_content{width:95%;margin: 0 auto;}
.playok_content .imgList{}
.playok_content .imgList img{float: left;width:size(165);height: size(150);margin: size(15) size(6) 0 size(7);border-radius: size(4);}
.playok_btn{display:block;width:100%;height: size(48);background: #ddd;border-radius: size(4);color: #fff;@include font-dpr(17px);margin-top:size(88);border:none;}
.displaycolor{background: #FF7B35;}
.mint-indicator .mint-indicator-wrapper{top:size(205);}

