@import 'base_common.scss';
p {
	margin: 0;
}
.media {
	display: table;
}
.media-left {
	display: table-cell;
}
.media-body {
	display: table-cell;
	/* width: 100000px; */
}
/* 医生签约 */
.doctordetail-container {
	background: #f6f6f6;
	padding-bottom: size(100);

	.main {
		padding: size(12) 0 0 0;
	}
}
.doctordetail-header {
	padding: size(18) size(15);
	background: #ffffff;
	text-align: left;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: size(10);

	> img {
		width: size(70);
		height: size(70);
		border-radius: 50%;
		margin-right: size(12);
		float: left;
	}
	.info {
		overflow: hidden;

		h3 {
			@include font-dpr(16px);
			color:#333333;
			line-height: 2;
			span {
				@include font-dpr(14px);
				color:#666666;
				margin-left: size(10);
			}
		}
		p {
			@include font-dpr(12px);
			@include text-ellipsis();
			color:#666666;
			>i {
				display: inline-block;
				height: size(10);
				width: size(10);
				border: 0;
				&.star{
					background:url(../images/star@2x.png);
					background-size: 100% 100%;
				}
				&.halfstar{
					background:url(../images/half_star@2x.png);
					background-size: 100% 100%;
				}
				&.graystar{
					background:url(../images/gray_star@2x.png);
					background-size: 100% 100%;
				}
			}
			&:last-child {
				line-height: 2;
			}
		}

	}
}
.doctordetail-item {
	border-top: 1px solid #e5e5e5;
	text-align: left;
	margin-bottom: size(10);

	header,
	.details {
		background:#ffffff;
	}
	header {
		padding: size(9) size(16);
		margin-bottom: size(2);
	}
	h4 {
		@include font-dpr(14px);
		font-weight: normal;
		color:#666666;
		line-height: 1.42857142;

		&:before {
			width: size(2);
			height: size(12);
			content: "";
			display: inline-block;
			background-color: #74bcfa;
			margin-right: size(8);
		}
	}
	.details {
		min-height: size(28);
		padding: size(4) size(15);
		overflow: hidden;
		.compare{
			width:size(14);
		}
		.compareDiv{
			height: 0;
		}
		.IntroductionDiv,.SpecitialTechDiv,.AchievementDiv{
			height: 0;
		}
		p {
			@include font-dpr(14px);
			line-height: 1.42857142;
			color: #333333;
			display: block;
			-webkit-line-clamp: 2;
    		-webkit-box-orient: vertical;
			overflow : hidden;
		}
		a {
			float: right;
			@include font-dpr(12px);
			line-height: 1.66667;
			color: #47a6f8;
			padding: size(3) 0;

			img {
				margin-left: size(4);
			}
			.reserve{
				transform: rotate(180deg);
				-o-transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
			}
		}
	}
	.active {
		.detailToggle {
			display: -webkit-box;
		}
		a {
			img.detailToggleImg {
				transform: rotate(180deg);
			}
		}
	}
}
.doctordetail-wrap {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	button {
		width: 100%;
		border-radius: 0;

		img {
			width:size(19);
			height:size(20);
			vertical-align: top;
			margin-right: size(6);
		}
	}
}
.btn-primary {
	background-color: #47a6f8;
	color: #ffffff;
	border-color: #47a6f8;
}

/* 选择签约对象 */
.choosefamilymember-container {
	background: #f6f6f6;
	text-align: left;

	.note {
		box-sizing: border-box;
		background: #ffedd1;
		padding: size(10) size(34) size(9) size(23);

		.media-left {
			vertical-align: middle;
			padding-right: size(8);
		}

		img,
		p {
			vertical-align: middle;
		}
		img {
			width: size(17);
			height: size(15);
		}
		p {
			@include font-dpr(14px);
			line-height: 1.4285714;
			color: #ff7b35;
		}
	}
	.line{
		background: #f6f6f6;
		height: size(31);
	}
}
.choosefamilymember-list {
	border-bottom: 1px solid #eeeeee;
	padding-left: size(16);
	box-sizing: border-box;
	background: #ffffff;
}
.choosefamilymember-header{
	height: size(60);
	border-bottom: 1px solid #eeeeee;
	position: relative;
	background: #fff;
	.choosefamilymember-headergroup{
		width: size(18);
		height: size(18);
		position: absolute;
		left:size(17);
		top:size(22);
	}
	.choosefamilymember-headertext{
		display: inline-block;
		@include font-dpr(16px);
		color:#666666;
		position: absolute;
		left:size(42);
		top:size(22);
	}
	.choosefamilymember-headericon{
		width: size(14);
		height: size(8);
		position: absolute;
		right:size(19);
		top:size(24);
	}
	.choosefamilymember-headericon.reverse{
		transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
	}
}
.choosefamilymember-item {
	position: relative;
	border-bottom: 1px solid #f3f3f3;
	padding: size(10);

	&:last-child {
		border-bottom-color: transparent;
	}

	.media-left,
	.media-body {
		vertical-align: middle;
	}

	.pic {
		img {
			width: size(50);
			height: size(50);
			border-radius: 100%;
			margin-right: size(10);
		}
	}
	.name {
		@include font-dpr(16px);
		color: #333333;
		line-height: 1.375;
		white-space:nowrap;
		display: inline-block;
		padding-top: size(15);
	}
	.age {
		padding-left: size(20);
		@include font-dpr(15px);
		line-height: 1.4;
		color: #666666;
		text-align: center;

		img {
			width: size(8);
			height: size(12);
			margin-right: size(10);
		}
	}
	.signed {
		position: absolute;
		padding: size(6) size(10);
		border-radius: size(100);
		background:#f9f9f9;
		top:size(24);
		right: size(13);
		span{
			margin-left: size(2);
			color:#47A6F8;
		}
		span.red{
			color:#ff4200;
		}
		span.green{
			color: #85B61D;
		}
	}
}
.choosefamilymember-btnwrap {
	width: 347 / 375 * 100%;
	margin: 0 auto;
	padding: 0 size(13);
	background: #f6f6f6;
	button {
		width: 100%;
		box-shadow:0px 10px 20px 0px rgba(227,231,227,0.37);
		@include cal(border-radius, 8px);

		span {
			margin-right: size(10);
		}
	}
}

.healthinfo-container {
	background: #f6f6f6;
	.itemline{
		width: 100%;
		height: size(10);
		background: #f6f6f6;
	}
	.infoitem {
		background: #fff;
		border-top: 1px solid #e5e5e5;
		text-align: left;
		@include font-dpr(14px);
		header {
		padding: size(9) size(16);
		margin-bottom: size(2);
		border-bottom: 1px solid #e5e5e5;
	}
	h4 {
		@include font-dpr(14px);
		font-weight: normal;
		color:#666666;
		line-height: 1.42857142;

		&:before {
			width: size(2);
			height: size(12);
			content: "";
			display: inline-block;
			background-color: #74bcfa;
			margin-right: size(8);
		}
	}
	.item{
		padding: size(16) size(15);
		.checkitems{
			margin-top: size(14);
			margin-right: size(20);
		}
	}
	}
	.btncontainer{
		padding-top: size(41);
		padding-left: size(12);
		padding-right: size(12);
		padding-bottom: size(12);
		button{
			@include font-dpr(17px);
		}
	}
}

/* 选择签约对象 */
.qianyueapplyinfo-container {
	background: #f6f6f6;
	text-align: left;
	height:100%;
	.main {
		padding-top: size(20);
	}

	.info-flag-wrap {
		width: 356 / 375 * 100%;
		margin: 0 auto size(20);

		&:before {
			content: "";
			display: block;
			height: size(12);
			background-color: #b2b2b2;
			@include cal(border-radius, 8px);
		}
		.changeapplyinfo{
			width: size(346);
			height: size(47);
			@include font-dpr(16px);
			color:#47A6F8;
			border-radius: 10px;
			line-height: size(47);
			margin: size(45) auto 0;
			background: #fff;
			// text-align: center;
			
			span{
				background:url('../../assets/images/icon16-change@2x.png') no-repeat center left;
				background-size: size(16);
				padding-left: size(21);
				display: inline-block;
				text-align: center;
				margin-left: size(127);
			}
		}
	}

	.info-flag {
		// box-sizing: border-box;
		width: 335 / 356 * 100%;
		// margin: size(-5) auto 0;
		// padding: size(16) size(20) size(20);
		// // background-color: #ffffff;
			margin: size(-5) auto 0;
		background: url('../../assets/images/Artboard 5@2x.png') repeat-x bottom;
		// background-size: size(34) size(18);
		padding-bottom: size(20);
		.info-flag-dl{
			background: #fff;
			box-sizing: border-box;
			width:100%;
			padding: size(16) size(20) size(20);
		}
		dl {
			margin: 0 0 size(7);
			min-height: size(20);
		}
		dt,
		dd {
			@include font-dpr(14px);
			line-height: 1.428571428;
		}
		dt {
			color: #666666;
			float: left;
			min-width: size(80);
		}
		dd {
			color: #333333;
			padding: 0;
			overflow: hidden;
		}
		.sex {
			margin-left: size(5);
			@include cal(height, 12px);
		}
	}
	.healthinfo-sure-wrap{
		width: 100%;
		height: size(59);
		background: #fff;
		margin-top: size(19);
		position: relative;
		.healthinfo-sure-wrap-icon{
			position: absolute;
			left: size(16);
			top:size(19);
			width: size(16);
			height: size(20);
		}
		.healthinfo-sure-wrap-text{
			position: absolute;
			left: size(46);
			top:size(19);
			@include font-dpr(16px);
			color:#333333;
		}
		.healthinfo-sure-wrap-jiantou{
			position: absolute;
			right: size(16);
			top:size(22);
			transform:rotate(90deg);
			-ms-transform:rotate(90deg); 
			-moz-transform:rotate(90deg); 
			-webkit-transform:rotate(90deg); 
			-o-transform:rotate(90deg); 
			width: size(14);
			height: size(8);
		}
	}
	.qianyueapplyinfo-sure-wrap{
		margin-top: size(19);
		padding-bottom: size(56);
		padding-left: size(15);
		div{
			display: inline-block;
			span{
				margin-right: 0;
			}
		}
		.qianyueapplyinfo-sureinfo-wrap{
			display: inline-block;
			color:#47a6f8;
			@include font-dpr(16px);
			margin-left: size(10);
		}
	}
	.qianyueapplyinfo-btn-wrap {
		width: 351 / 375 * 100%;
		margin: 0 auto;

		button {
			width: 100%;
			@include cal(border-radius, 4px);
		}
	}
	.qianyueapplyinfo-successbg{
		position: absolute;
		top:0;
		left:0;
		z-index: 100;
		width: 100%;
		height: 100%;
		background:rgba(51,51,51,0.50);
		text-align: center;
		.qianyueapplyinfo-dialog{
			width: size(286);
			height: size(358);
			border-radius:size(6);
			background: #fff;
			margin-left: size(45);
			margin-top: size(95);
			position: relative;
			img{
				width: size(203);
				height: size(186);
				margin-top: size(24);
				margin-bottom: size(20);
			}
			span{
				text-align: left;
				display: block;
				@include font-dpr(15px);
				color:#333333;
				margin-left: size(20);
			}
			div{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: size(48);
				line-height: size(48);
				@include font-dpr(16px);
				color:#47a6f8;
				border-top: 1px solid #e5e5e5;
			}
		}
	}
}


/* 医院列表 */
.hospitallist-container{
	background: #f6f6f6;
	width: 100%;
	height: 100%;
	padding-top: size(48);
	.hospitallist-containeritem{
	    
		.hospitallist-containeritemheader{
			width: 100%;
		height: size(38);
		line-height: size(38);
		background:#fcfcfc;
		box-shadow:0px 0px 0px 0px #e5e5e5, inset 0px 0px 0px 0px #e5e5e5;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		text-align: left;
		vertical-align: center;
		span{
			display: inline-block;
			@include font-dpr(14px);
		}
		.hospitallist-containeritemheadericon{
			width: size(2);
			height: size(12);
			background:#47a6f8;
			margin-left: size(13);
			margin-right: size(7);
		}
		}
		.hospitallist-containeritembody{
			li{
				width: 100%;
				height: size(102);
				background: #fff;
				position: relative;
				text-align: left;
				img{
					width:size(90);
					height: size(68);
					position: absolute;
					left:size(13);
					top:size(17);
				}
				.hospitallist-containeritembodyitemtitle{
					position: absolute;
					@include font-dpr(16px);
					color:#333333;
					white-space:nowrap;
					overflow:hidden;
					text-overflow:ellipsis;
					width:size(246);
					top:size(16);
					left:size(111);
				}
				.hospitallist-containeritembodyitemaddress{
					position: absolute;
					@include font-dpr(14px);
					color:#666666;
					top:size(44);
					left:size(111);
				}
			}
		}
	}
}

/* 医生列表 */
.doctorlist-container{
	background: #f6f6f6;
	width: 100%;
	height: 100%;
	.hospitallist-containercontent{
		li{
			width: 100%;
			height: size(82);
			position: relative;
			background: #fff;
			border-bottom: 1px solid #e5e5e5;
			img{
				width: size(50);
				height: size(50);
				border-radius: size(50);
				position: absolute;
				top:size(16);
				left:size(16);
			}
			.hospitallist-containercontentitemname{
				position: absolute;
				top:size(18);
				left: size(78);
				color:#333333;
				@include font-dpr(16px);
			}
			.hospitallist-containercontentitemtitle{
				position: absolute;
				top:size(48);
				left: size(78);
				color:#666666;
				white-space:nowrap;
					overflow:hidden;
					text-overflow:ellipsis;
					width:size(287);
				@include font-dpr(12px);
				text-align: left;
			}
			.hospitallist-containercontentitemqianyue{
				position: absolute;
				bottom:size(44);
				right: size(30);
				color:#999999;
				@include font-dpr(12px);
			}
			.hospitallist-containercontentitemnum{
				color:#ff7b35;
				@include font-dpr(16px);
				margin-left: size(2);
			}
		}
	}
}
.hospitallist-containerheader{
    width:100%;
    height: size(44);
    background: #F6F6F6;
    padding-top: size(8);
    box-sizing: border-box;
}
.hospitallist-containerheader .mint-search{
	height:size(44);
}
.mint-searchbar-placeholder{
  @include font-dpr(15px);
}
.mint-searchbar-placeholder .mintui-search{
	@include font-dpr(15px);
}
.mint-search .mint-searchbar{
	padding:size(8) size(12);
	.mint-searchbar-cancel{
		@include font-dpr(15px);
	}
}
.mint-search .mint-searchbar-inner {
	height: size(20);
	//padding:size(4) size(6);
}
.mint-searchbar-inner .mint-searchbar-core{
	width: 100%;
	@include font-dpr(15px);
}
.mint-searchbar-inner .mintui-search{
	@include font-dpr(15px);
}
.qianyueremind-container{
	background: url('../images/goodpage2x.png');
	background-size: 100% 100%;
	width:100%;
	height: 100%;
	position: relative;
	text-align: center;
	div{
		position: absolute;
		margin: 0 auto;
		width: size(151);
		height: size(55);
		bottom: size(62);
		left:size(112);
	}
}
/*顶部搜索*/
.hospitall_header{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height: size(48);
    background: #fff;
    line-height: size(28);
    padding:size(10) size(12);
    box-sizing: border-box;
    z-index: 100;
    @include font-dpr(14px);
    text-align: left;
        .address{
            float: left;
            span,i{
                float: left; @include font-dpr(14px);
                width:size(50);
                height:size(28);
                @include text-ellipsis();
            }
            i{width:size(10);height: size(5);background: url("../images/down@2x.png") no-repeat;margin: size(12) size(5) 0;background-size:100% 100% ;}
        }
        .search{
            float: left;
            width:size(240);
            height: size(28);
            background: #f6f6f6;
            line-height: size(28);
            border-radius: size(4);
            img{
                float: left;
                width:size(15);
                height: size(15);
                margin: size(8) size(5) 0;
            }
            input{float: left;width:size(200);height:size(28);border-radius: size(4);border:none;background:none;outline: none;@include font-dpr(14px);line-height: size(20);box-sizing: border-box;}
        }
        .searchBtn{
            float: left;
            margin-left: size(7);
            color: #47A6F8;
        }
}
/*蒙层*/
.hospitall_layer{
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);
    z-index: 88;
}
.hospitall_searchNo{width:size(139);height: size(144);margin: size(150) auto 0;}
.hospitall_searchNo img{display:block;width:size(139);height: size(94);}
.hospitall_searchNo span{display: block;margin-top: size(28);@include font-dpr(16px);color:#63708F;}
/*顶部搜索修改2017.5.17*/
.hospitallist_sech{width:90%;height: size(28);margin: 0 auto;background: #fff;border-radius: size(4);@include font-dpr(15px);line-height: size(28);text-align: left;}
.hospitallist_sech img{display: inline-block;width:size(15);height: size(15);vertical-align: middle;margin: size(-2) 0 0 size(10);}
.hospitallist_sech input{display: inline-block;width:75%;border:none;outline: none;@include font-dpr(15px);}
.hospitallist_sech span{color: #47A6F8;}
